
#button {
  background: linear-gradient(#ebecf1,
    #c0c4ce,
    #a9afbc);
  border-radius: 40px;
  border: #A2A5B1;
  position: relative;
  width: 402px;
  height: 142.349px;
  flex-shrink: 0;
}

#button:hover{
  background: linear-gradient( #aeb2be, #c6cad2, #dedfe6, #e1e2e8);
}
.button-body{
  color: #4e4e4e;
  text-shadow: 0px 2px 0px 0px #ffffff80;
  font-size: 64px;
  font-family: Inter;
}

.top-blick{
  width: 402px;
  height: 46.327px;
  flex-shrink: 0;
  position: absolute;
  background-color: #ffffff99;
  border-radius: 40px;
  left: 0px;
  top: -4px;
  z-index: -1;
}

.bottom-blick{
  width: 402px;
  height: 48.42px;
  flex-shrink: 0;
  background-color: #A2A5B1;
  border-radius: 40px;
  position: absolute;
  bottom: -4px;
  z-index: -1;
  left: 0px;
}